@page "/neatBlazor/parentComponent"

<h3>ParentComponent</h3>

<_ChildComponent Title="Title passed as parameter from parent">
    Passing in some texts between the tags from parent component!!
</_ChildComponent>

<_ChildComponent Title="Title passed as parameter from parent">

</_ChildComponent>

@code {

}
